@model ProfileViewModel
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/_ProfilimLayoutPage.cshtml";
}




<section class="b-google-map map-theme">
    <div class="b-google-map__map-view b-google-map__map-height" id="map">
        <!-- Google map load -->
    </div>
    <img data-retina src="img/google-map-marker-default.png" data-label="" class="marker-template hidden" />
    <div class="b-google-map__info-window-template hidden"
         data-selected-marker="0"
         data-width="526">
        <div class="b-google-map__info-window col-xs-12">
            <div class="col-lg-7 col-xs-12 b-google-map__info-window-address">
                <ul class="list-unstyled">
                    <li class="col-xs-12">
                        <div class="b-google-map__info-window-address-icon f-center pull-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <div>
                            <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                                frexy studio
                            </div>
                            <div class="desc">1234 Street Name, City Name, United States.</div>
                        </div>
                    </li>
                    <li class="col-xs-12">
                        <div class="b-google-map__info-window-address-icon f-center pull-left">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div>
                            <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                                portfolio homepage
                            </div>
                            <div class="desc">http://yoursite.com</div>
                        </div>
                    </li>
                    <li class="col-xs-12">
                        <div class="b-google-map__info-window-address-icon f-center pull-left">
                            <i class="fa fa-skype"></i>
                        </div>
                        <div>
                            <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                                Skype
                            </div>
                            <div class="desc">ask.company</div>
                        </div>
                    </li>
                    <li class="col-xs-12">
                        <div class="b-google-map__info-window-address-icon f-center pull-left">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div>
                            <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                                email
                            </div>
                            <div class="desc">mail@example.com</div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-lg-5 b-google-map__info-window-image hidden-xs hidden-sm hidden-md">
                <img data-retina src="img/google-map-skyscrapper.png" style="width: 218px; height: 243px;" alt="" />
            </div>
        </div>
    </div>
    <div class="b-contact-form container">
        <div class="b-contact-form__window c-primary">
            <div class="col-xs-12 b-contact-form__window-title f-contact-form__window-title text-uppercase f-primary-b">
                Arıza Kaydı Oluştur
                <hr />
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="b-contact-form__window-form-row">
                    <label for="contact_form_name" class="b-contact-form__window-form-row-label">Your name</label>
                    <input type="text" class="form-control" id="contact_form_name" />
                </div>
                <div class="b-contact-form__window-form-row">
                    <label for="contact_form_email" class="b-contact-form__window-form-row-label">Your email</label>
                    <input type="text" class="form-control" id="contact_form_email" />
                </div>
                <div class="b-contact-form__window-form-row">
                    <label for="contact_form_website" class="b-contact-form__window-form-row-label">Your website</label>
                    <input type="text" class="form-control" id="contact_form_website" />
                </div>
                <div class="b-contact-form__window-form-row">
                    <label for="contact_form_title" class="b-contact-form__window-form-row-label">Your title</label>
                    <input type="text" class="form-control" id="contact_form_title" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="b-contact-form__window-form-row">
                    <label for="contact_form_message" class="b-contact-form__window-form-row-label">Your message</label>
                    <textarea id="contact_form_message" rows="7" class="b-contact-form__window-form-textarea form-control"></textarea>
                </div>
                <div class="b-contact-form__window-form-row">
                    <label for="contact_form_copy" class="b-contact-form__window-form-row-label">
                        <input type="checkbox" id="contact_form_copy" class="b-form-checkbox" />
                        <span><span class="f-primary">Send me a copy</span></span>
                    </label>
                </div>
                <div class="b-contact-form__window-form-row">
                    <a href="#" class="b-btn f-btn b-btn-md b-btn-default f-primary-b b-contact-form__window-form-row-button">send message</a>
                </div>
            </div>
        </div>
    </div>
</section>

