
<div class="l-main-container">
    <div class="b-slidercontainer">
        <div class="b-slider j-fullscreenslider">
            <ul>
                <li data-transition="3dcurtain-vertical" data-slotamount="7">
                    <div class="tp-bannertimer"></div>
                    <img data-retina src="~/img/slider/slider-lg__bg.png">
                    <div class="caption sfb" data-x="center" data-y="bottom" data-speed="700" data-start="1700" data-easing="Power4.easeOut" style="z-index: 2">
                        <img data-retina src="~/img/slider/slider_main_2-1.png">
                    </div>
                    <div class="caption sfl" data-x="50" data-y="bottom" data-speed="700" data-start="2500" data-easing="Power4.easeOut">
                        <img data-retina src="~/img/slider/slider_main_2-2.png">
                    </div>
                    <div class="caption sfr" data-x="right" data-y="bottom" data-hoffset="-30" data-speed="700" data-start="2500" data-easing="Power4.easeOut">
                        <img data-retina src="~/img/slider/slider_main_2-3.png">
                    </div>
                    <div class="caption lft" data-x="center" data-y="30" data-speed="600" data-start="2600">
                        <h1 class="f-primary-b c-white">awesome psd template</h1>
                    </div>
                    <div class="caption" data-x="center" data-y="90" data-speed="600" data-start="3200">
                        <p class="f-primary-b f-slider-lg-item__text_desc f-center c-white">
                            Multi-purposes template with 100+ psd files for Corporate, Travel, Education, Real Estate...
                            <br />
                            and much more website
                        </p>
                    </div>
                </li>
                <li data-transition="" data-slotamount="7">
                    <div class="tp-bannertimer"></div>
                    <img data-retina src="~/img/slider/slider-lg__bg.png">
                    <div class="caption sfb" data-x="right" data-y="bottom" data-speed="700" data-start="1700" data-easing="Power4.easeOut">
                        <img data-retina src="~/img/slider/slider-ipad.png">
                    </div>
                    <div class="caption sfl" data-x="right" data-y="bottom" data-speed="700" data-start="2500" data-easing="Power4.easeOut" style="z-index: 2">
                        <img data-retina src="~/img/slider/slider-iphone.png">
                    </div>
                    <div class="caption lft" data-x="left" data-y="112" data-speed="600" data-start="2600">
                        <h1 class="f-primary-b c-white">Fully responsive design</h1>
                        <h3 class="f-primary-b c-white">Layer Slider wordpress plugin included</h3>
                    </div>
                    <div class="caption" data-x="left" data-y="240" data-speed="600" data-start="3200">
                        <p class="f-primary-b f-slider-sm-item__text_desc c-white">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ex erat,<br /> venenatis a velit vel, pretium interdum sapien.
                        </p>
                    </div>
                    <div class="caption" data-x="left" data-y="305" data-speed="800" data-start="3600">
                        <button class="button-lg">PURSHASE NOW</button>
                    </div>
                </li>
                <li data-transition="" data-slotamount="7">
                    <div class="tp-bannertimer"></div>
                    <img data-retina src="~/img/slider/slider-lg__bg.png">
                    <div class="caption sfb" data-x="right" data-y="70" data-speed="700" data-start="1700" data-easing="Power4.easeOut" style="z-index: 2">
                        <img data-retina src="~/img/slider/slider-imac.png">
                    </div>
                    <div class="caption lft" data-x="left" data-y="95" data-speed="600" data-start="2600">
                        <h2 class="f-primary c-white">frexy templates</h2>
                    </div>
                    <div class="caption lft" data-x="left" data-y="135" data-speed="600" data-start="2600">
                        <h1 class="f-primary-b c-white b-bg-slider-title">modern. creative. unique</h1>
                    </div>
                    <div class="caption lft" data-x="left" data-y="220" data-speed="600" data-start="2600">
                        <ul class="b-slider-list f-slider-list c-white">
                            <li>
                                <i class="fa fa-tablet"></i> <span>Responsive wordpress theme</span>
                            </li>
                            <li>
                                <i class="fa fa-cog"></i> <span>Easy to use and powerful theme options</span>
                            </li>
                            <li>
                                <i class="fa fa-trophy"></i> <span>Multi purpose with 10+ homepage layout</span>
                            </li>
                            <li>
                                <i class="fa fa-globe"></i> <span>Awesome icons included</span>
                            </li>
                            <li>
                                <i class="fa fa-spinner"></i> <span>Unlimited colors support</span>
                            </li>
                            <li>
                                <i class="fa fa-life-ring"></i> <span>Free setting-up and support</span>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section class="b-desc-section-container b-diagonal-line-bg-light">
        <div class="container">
            <h2 class="f-center f-primary-b">why choose us ?</h2>
            <p class="b-desc-section f-desc-section f-center f-primary-l">Etiam consectetur pellentesque justo. Sed tristique bibendum elit non molestie. Donec et libero rutrum</p>
            <div class="b-hr-stars f-hr-stars">
                <div class="b-hr-stars__group">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="b-infoblock-with-icon-group row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-infoblock-with-icon">
                        <a href="#" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate">
                            <i class="fa fa-tint"></i>
                        </a>
                        <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                            <a href="#" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Unique and morden design</a>
                            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut massa in
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-infoblock-with-icon">
                        <a href="#" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate">
                            <i class="fa fa-spinner"></i>
                        </a>
                        <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                            <a href="#" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Unlimited color schemes</a>
                            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut massa in
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-infoblock-with-icon">
                        <a href="#" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate">
                            <i class="fa fa-th-large"></i>
                        </a>
                        <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                            <a href="#" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">10+ homepage layout</a>
                            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut massa in
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-md-block visible-lg-block"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-infoblock-with-icon">
                        <a href="#" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                        <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                            <a href="#" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Awesome e-commerce</a>
                            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut massa in
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-infoblock-with-icon">
                        <a href="#" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                            <a href="#" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">50+ inner pages included</a>
                            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut massa in
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-infoblock-with-icon">
                        <a href="#" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate">
                            <i class="fa fa-font"></i>
                        </a>
                        <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                            <a href="#" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Free fonts and icons</a>
                            <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut massa in
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
            </div>
        </div>
    </section>
    <section class="b-bg-block f-bg-block b-bg-block-meadow">
        <div class="container f-center">
            <h1 class="f-primary-b">modern. creative. unique.</h1>
            <div class="b-bg-block__desc f-bg-block__desc f-primary">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
            <a class="b-btn f-btn b-btn-md f-btn-md b-btn-primary f-primary-sb j-data-element" data-animate="shake" href="frexy/demo.html"><i class="fa fa-desktop"></i> view demo</a>
            <span class="clearfix visible-xs-block"></span>
            <a class="b-btn f-btn b-btn-md f-btn-md f-primary-sb j-data-element" data-animate="shake" href="about_us_pricing.html"><i class="fa fa-money"></i> purchase it</a>
        </div>
    </section>
    <section class="b-diagonal-line-bg-light b-section-info">
        <div class="container">
            <div class="row">
                <div class="b-section-info__img img-appearance-1 wrap-img-appearance col-sm-6 col-xs-12">
                    <img data-retina data-animate="fadeInLeft" class="img-appearance-item-1" src="~/img/animation-data/imac.png" alt="imac" />
                    <img data-retina data-animate="fadeInLeft" class="img-appearance-item-2" src="~/img/animation-data/mac-book.png" alt="mac-book" />
                    <img data-retina data-animate="fadeInLeft" class="img-appearance-item-3" src="~/img/animation-data/ipad.png" alt="ipad" />
                    <img data-retina data-animate="fadeInLeft" class="img-appearance-item-4" src="~/img/animation-data/ipad-mini.png" alt="ipad-mini" />
                    <img data-retina data-animate="fadeInLeft" class="img-appearance-item-5" src="~/img/animation-data/iphone.png" alt="iphone" />
                </div>
                <div class="b-section-info__text f-section-info__text col-sm-6 col-xs-12">
                    <h2 class="f-primary-b">ARE YOU READY TO DiSCOVER?</h2>
                    <p class="f-section-info__text_short f-primary-sb">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut massa</p>
                    <div class="b-ol-list-text-container">
                        <div class="b-ol-list-text__item">
                            <div class="b-ol-list-text__item_number f-ol-list-text__item_number f-primary-b">1</div>
                            <div class="b-ol-list-text__item_info">
                                <a href="#" class="b-ol-list-text__item_info-title f-ol-list-text__item_info-title f-primary-sb">Frexy template for Travel website</a>
                                <p class="b-ol-list-text__item_info-desc f-ol-list-text__item_info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut massa </p>
                            </div>
                        </div>
                        <div class="b-ol-list-text__item">
                            <div class="b-ol-list-text__item_number f-ol-list-text__item_number f-primary-b">2</div>
                            <div class="b-ol-list-text__item_info">
                                <a href="#" class="f-ol-list-text__item_info-title f-primary-sb">Frexy template for Corporate website</a>
                                <p class="b-ol-list-text__item_info-desc f-ol-list-text__item_info-desc">Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="b-ol-list-text__item">
                            <div class="b-ol-list-text__item_number f-ol-list-text__item_number f-primary-b">3</div>
                            <div class="b-ol-list-text__item_info">
                                <a href="#" class="f-ol-list-text__item_info-title f-primary-sb">Frexy template for Real Estate website</a>
                                <p class="b-ol-list-text__item_info-desc f-ol-list-text__item_info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing </p>
                            </div>
                        </div>
                        <div class="b-ol-list-text__item">
                            <div class="b-ol-list-text__item_number f-ol-list-text__item_number f-primary-b">4</div>
                            <div class="b-ol-list-text__item_info">
                                <a href="#" class="f-ol-list-text__item_info-title f-primary-sb">Frexy template for Education</a>
                                <p class="b-ol-list-text__item_info-desc f-ol-list-text__item_info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <a href="#" class="f-more f-primary-b">and much more...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="b-bg-video f-bg-video">
        <div class="b-bg-video-box">
            <video id="video1" loop>
                <source src="video/bg-video.mp4" type='video/mp4' />
                <source src="video/bg-video.webm" type='video/webm' />
            </video>
        </div>
        <div class="b-bg-video_cont video-color-overlay">
            <div class="j-video-controls b-bg-video-controls">
                <i id="video1-play" class="fa fa-play-circle-o b-bg-video__play_btn  f-bg-video__play_btn "></i>
                <i id="video1-pause" class="fa fa-pause b-bg-video__play_btn  f-bg-video__play_btn"></i>
            </div>
            <div class="b-bg-video__play_title f-bg-video__play_title f-primary-l">background video section</div>
            <div class="container b-bg-video__play_text-wrap">
                <div class="b-bg-video__play_text f-bg-video__play_text f-primary-b"><i class="b-bg-dotted"></i><span>frexy theme</span><i class="b-bg-dotted"></i></div>
                <div class="b-bg-video__numbers row j-number-up-wrap">

                    <div class="col-sm-3">
                        <div class="b-bg-video__numbers_item f-bg-video__numbers_item">
                            <div class="b-bg-video__numbers_item_n f-bg-video__numbers_item_n f-primary-b j-number-up">238</div>
                            <div class="b-bg-video__numbers_item_hint f-bg-video__numbers_item_hint f-primary-l">Cup of coffes</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="b-bg-video__numbers_item f-bg-video__numbers_item">
                            <div class="b-bg-video__numbers_item_n f-bg-video__numbers_item_n f-primary-b j-number-up">2356</div>
                            <div class="b-bg-video__numbers_item_hint f-bg-video__numbers_item_hint f-primary-l">hours of work</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="b-bg-video__numbers_item f-bg-video__numbers_item">
                            <div class="b-bg-video__numbers_item_n f-bg-video__numbers_item_n f-primary-b j-number-up">7238</div>
                            <div class="b-bg-video__numbers_item_hint f-bg-video__numbers_item_hint f-primary-l">Satisfied Clients</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="b-bg-video__numbers_item f-bg-video__numbers_item">
                            <div class="b-bg-video__numbers_item_n f-bg-video__numbers_item_n f-primary-b j-number-up">5</div>
                            <div class="b-bg-video__numbers_item_hint f-bg-video__numbers_item_hint f-primary-l">stars rating</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="b-diagonal-line-bg-light b-section-info b-section-info__img-r f-section-info__img-r">
        <div class="container">
            <div class="row">
                <div class="b-section-info__img col-sm-6 col-xs-12">
                    <img data-retina class="j-data-element" data-animate="fadeInRight" src="~/img/animation-data/responsive_img_2.png" alt="" />
                </div>
                <div class="b-section-info__text f-section-info__text col-sm-6 col-xs-12">
                    <h2 class="f-primary-b">about frexy template</h2>
                    <p class="f-section-info__text_short">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus ipsum nenatis mi auctor ullamcorper.</p>
                    <hr class="b-hr-light" />
                    <div class="b-section-info__text_group">
                        <ul class="c-primary c--inherit b-list-markers f-list-markers b-list-markers--without-leftindent f-list-markers--medium f-color-primary b-list-markers-2col f-list-markers-2col">
                            <li><a href="#"><i class="fa fa-check-circle-o b-list-markers__ico f-list-markers__ico"></i> 10+ Homepage versions</a></li>
                            <li><a href="#"><i class="fa fa-check-circle-o b-list-markers__ico f-list-markers__ico"></i> 10+ shortcode files</a></li>
                            <li><a href="#"><i class="fa fa-check-circle-o b-list-markers__ico f-list-markers__ico"></i> 15+ blog layouts</a></li>
                            <li><a href="#"><i class="fa fa-check-circle-o b-list-markers__ico f-list-markers__ico"></i> 30+ inner pages</a></li>
                            <li><a href="#"><i class="fa fa-check-circle-o b-list-markers__ico f-list-markers__ico"></i> 0+ Portfolio layout</a></li>
                            <li><a href="#"><i class="fa fa-check-circle-o b-list-markers__ico f-list-markers__ico"></i> and much more...</a></li>
                            <li><a href="#"><i class="fa fa-check-circle-o b-list-markers__ico f-list-markers__ico"></i> E-commerce intergrated</a></li>
                        </ul>
                        <a href="#" class="b-btn f-btn b-btn-default b-btn-md f-primary-b">request a quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="f-center b-section-info b-null-bottom-indent-xs b-gallery-main">
        <div class="container">
            <h2 class="f-primary-b">our works</h2>
            <p class="b-infoblock-description f-desc-section f-center">Vivamus ac ultrices diam, vitae accumsan tellus. Integer sollicitudin vulputate lacus, congue vulputate nisl eleifend in. </p>
            <div class="b-hr-stars f-hr-stars container">
                <div class="b-hr-stars__group">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>

        <div class="b-gallery-main-container">
            <div class="col-sm-4 col-xs-12 b-gallery-main-item view view-eighth">
                <img data-retina="" src="~/img/homepage/gallery_1.jpg" alt="">
                <div class="b-item-hover-action f-center mask">
                    <div class="b-item-hover-action__inner">
                        <div class="b-item-hover-action__inner-btn_group">
                            <a href="~/img/homepage/big/gallery_1.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="Nullam adipiscing sapien ut mi" rel="group3"><i class="fa fa-arrows-alt"></i></a>
                            <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="f-gallery-main-item__info_name f-primary-b">Nullam adipiscing sapien ut mi</div>
                        <div class="f-gallery-main-item__info_desc">Animation, 3D Graphic</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-xs-12 b-gallery-main-item view view-eighth">
                <img data-retina="" src="~/img/homepage/gallery_2.jpg" alt="">
                <div class="b-item-hover-action f-center mask">
                    <div class="b-item-hover-action__inner">
                        <div class="b-item-hover-action__inner-btn_group">
                            <a href="~/img/homepage/big/gallery_2.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="Nullam adipiscing sapien ut mi" rel="group3"><i class="fa fa-arrows-alt"></i></a>
                            <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="f-gallery-main-item__info_name f-primary-b">Nullam adipiscing sapien ut mi</div>
                        <div class="f-gallery-main-item__info_desc">Animation, 3D Graphic</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-xs-12 b-gallery-main-item view view-eighth">
                <img data-retina="" src="~/img/homepage/gallery_3.jpg" alt="">
                <div class="b-item-hover-action f-center mask">
                    <div class="b-item-hover-action__inner">
                        <div class="b-item-hover-action__inner-btn_group">
                            <a href="~/img/homepage/big/gallery_3.jpg" class="b-btn f-btn b-btn-light f-btn-light info fancybox" title="Nullam adipiscing sapien ut mi" rel="group3"><i class="fa fa-arrows-alt"></i></a>
                            <a href="portfolio_our_portfolio_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="f-gallery-main-item__info_name f-primary-b">Nullam adipiscing sapien ut mi</div>
                        <div class="f-gallery-main-item__info_desc">Animation, 3D Graphic</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="b-diagonal-line-bg-light">
        <div class="b-employee">
            <div class="container">
                <h2 class="f-center f-primary-b">meet our team work</h2>
                <p class="b-infoblock-description f-desc-section f-center f-employee__desc">Vivamus ac ultrices diam, vitae accumsan tellus. Integer sollicitudin vulputate lacus, congue vulputate nisl eleifend in.</p>
                <div class="b-hr-stars f-hr-stars container">
                    <div class="b-hr-stars__group">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="b-employee-container row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="b-employee-item b-employee-item--color f-employee-item">
                            <div class=" view view-sixth">
                                <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="~/img/users/user1.jpg" alt="" /></a>
                                <div class="b-item-hover-action f-center mask">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-btn_group">
                                            <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="f-primary-b">John Doe</h4>
                            <div class="b-employee-item__position f-employee-item__position">ceo and founder</div>
                            <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
                            <div class="b-employee-item__social">
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="b-employee-item b-employee-item--color f-employee-item">
                            <div class=" view view-sixth">
                                <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="~/img/users/user2.jpg" alt="" /></a>
                                <div class="b-item-hover-action f-center mask">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-btn_group">
                                            <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="f-primary-b">Andrew Clark</h4>
                            <div class="b-employee-item__position f-employee-item__position">front-end developer</div>
                            <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
                            <div class="b-employee-item__social">
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="b-employee-item b-employee-item--color f-employee-item">
                            <div class=" view view-sixth">
                                <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="~/img/users/user3.jpg" alt="" /></a>
                                <div class="b-item-hover-action f-center mask">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-btn_group">
                                            <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="f-primary-b">Patrick evra</h4>
                            <div class="b-employee-item__position f-employee-item__position">back-end developer</div>
                            <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
                            <div class="b-employee-item__social">
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs hidden-sm">
                        <div class="b-employee-item b-employee-item--color f-employee-item">
                            <div class=" view view-sixth">
                                <a href="#"><img class="j-data-element" data-animate="fadeInDown" data-retina src="~/img/users/user4.jpg" alt="" /></a>
                                <div class="b-item-hover-action f-center mask">
                                    <div class="b-item-hover-action__inner">
                                        <div class="b-item-hover-action__inner-btn_group">
                                            <a href="about_us_meet_our_team_detail.html" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 class="f-primary-b">Scott paker</h4>
                            <div class="b-employee-item__position f-employee-item__position">project manager</div>
                            <p>Consetetur sadipscing elitrd diam nonumy eirmod tempor invidunt ut labore.</p>
                            <div class="b-employee-item__social">
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="b-employee-item__social_btn"><i class="fa fa-thumbs-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="b-slider-primary">
        <div class="j-slider-primary">
            <div class="b-slider-primary-item b-slider-primary-item--bg f-slider-primary-item">
                <div class="container">
                    <div class="f-slider-primary-item__title b-slider-primary-item__title f-primary-b">
                        <i class="fa fa-twitter"></i><br />
                        @*<span><b>@frexystudio</b></span>*@
                    </div>
                    <p class="b-slider-primary-item__text f-slider-primary-item__text f-primary-l">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan porttitor egestas.<br /> Suspendisse gravida ultrices convallis. Interdum et malesuada fames<br />
                        <a href="http://bly.shotlinks.com">http://bly.shotlinks.com</a>
                    </p>
                </div>
            </div>
            <div class="b-slider-primary-item b-slider-primary-item--bg1 f-slider-primary-item">
                <div class="container">
                    <div class="f-slider-primary-item__title b-slider-primary-item__title f-primary-b">
                        <i class="fa fa-facebook"></i><br />
                        @*<span><b>@frexystudio</b></span>*@
                    </div>
                    <p class="b-slider-primary-item__text f-slider-primary-item__text f-primary-l">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan porttitor egestas.<br /> Suspendisse gravida ultrices convallis. Interdum et malesuada fames<br />
                        <a href="http://bly.shotlinks.com">http://bly.shotlinks.com</a>
                    </p>
                </div>
            </div>
            <div class="b-slider-primary-item b-slider-primary-item--bg2 f-slider-primary-item">
                <div class="container">
                    <div class="f-slider-primary-item__title b-slider-primary-item__title f-primary-b">
                        <i class="fa fa-linkedin"></i><br />
                        @*<span><b>@frexystudio</b></span>*@
                    </div>
                    <p class="b-slider-primary-item__text f-slider-primary-item__text f-primary-l">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan porttitor egestas.<br /> Suspendisse gravida ultrices convallis. Interdum et malesuada fames<br />
                        <a href="http://bly.shotlinks.com">http://bly.shotlinks.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>