
<footer>
    <div class="b-footer-primary">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12 f-copyright b-copyright">Copyright © 2014 - All Rights Reserved</div>
                <div class="col-sm-8 col-xs-12">
                    <div class="b-btn f-btn b-btn-default b-right b-footer__btn_up f-footer__btn_up j-footer__btn_up">
                        <i class="fa fa-chevron-up"></i>
                    </div>
                    <nav class="b-bottom-nav f-bottom-nav b-right hidden-xs">
                        <ul>
                            <li><a href="../../html/homepage-1-index.html">Homepage</a></li>
                            <li class="is-active-bottom-nav"><a href="../../html/page_header_1.html">Headers</a></li>
                            <li><a href="../../html/portfolio_our_portfolio_1_colums.html">Portfolio</a></li>
                            <li><a href="../../html/our_blog_1_columns.html">Blog</a></li>
                            <li><a href="../../html/page_search_result.html">Pages</a></li>
                            <li><a href="../../html/shortcode_typography.html">Shortcode</a></li>
                            <li><a href="../../html/shop_listing_col.html">Shop</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="b-footer-secondary row">
            <div class="col-md-3 col-sm-12 col-xs-12 f-center b-footer-logo-containter">
                <a href=""><img data-retina class="b-footer-logo color-theme" src="~/img/logo-vertical-default.jpg" alt="Logo" /></a>
                <div class="b-footer-logo-text f-footer-logo-text">
                    <p>Mauris rhoncus pretium porttitor. Cras scelerisque commodo odio.</p>
                    <div class="b-btn-group-hor f-btn-group-hor">
                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a href="#" class="b-btn-group-hor__item f-btn-group-hor__item">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <h4 class="f-primary-b">Latest blog posts</h4>
                <div class="b-blog-short-post row">
                    <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                        <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                            <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
                        </div>
                        <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                            March 23, 2013
                        </div>
                    </div>
                    <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                        <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                            <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
                        </div>
                        <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                            March 23, 2013
                        </div>
                    </div>
                    <div class="b-blog-short-post__item col-md-12 col-sm-4 col-xs-12 f-primary-b">
                        <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                            <a href="blog_detail_left_slidebar.html">Amazing post with all the goodies</a>
                        </div>
                        <div class="b-blog-short-post__item_date f-blog-short-post__item_date">
                            March 23, 2013
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <h4 class="f-primary-b">contact info</h4>
                <div class="b-contacts-short-item-group">
                    <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                        <div class="b-contacts-short-item__icon f-contacts-short-item__icon f-contacts-short-item__icon_lg b-left">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="b-remaining f-contacts-short-item__text">
                            Frexy Studio<br />
                            1234 Street Name, City Name,<br />
                            United States.<br />
                        </div>
                    </div>
                    <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                        <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_md">
                            <i class="fa fa-skype"></i>
                        </div>
                        <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_phone">
                            Skype: ask.company
                        </div>
                    </div>
                    <div class="b-contacts-short-item col-md-12 col-sm-4 col-xs-12">
                        <div class="b-contacts-short-item__icon f-contacts-short-item__icon b-left f-contacts-short-item__icon_xs">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="b-remaining f-contacts-short-item__text f-contacts-short-item__text_email">
                            <a href="mailto:frexystudio@gmail.com">mail@example.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 ">
                <h4 class="f-primary-b">photo stream</h4>
                <div class="b-short-photo-items-group">
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_1.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_1.jpg" alt="" /></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_2.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_2.jpg" alt="" /></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_3.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_3.jpg" alt="" /></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_4.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_4.jpg" alt="" /></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_5.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_5.jpg" alt="" /></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_6.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_6.jpg" alt="" /></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_7.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_7.jpg" alt="" /></a>
                    </div>
                    <div class="b-column">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_8.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_8.jpg" alt="" /></a>
                    </div>
                    <div class="b-column hidden-xs">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_9.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_9.jpg" alt="" /></a>
                    </div>
                    <div class="b-column hidden-sm hidden-xs">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_10.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_10.jpg" alt="" /></a>
                    </div>
                    <div class="b-column hidden-sm hidden-xs">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_11.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_11.jpg" alt="" /></a>
                    </div>
                    <div class="b-column hidden-sm hidden-xs">
                        <a class="b-short-photo-item fancybox" href="~/img/gallery/big/gallery_12.jpg" title="photo stream" rel="footer-group"><img width="62" height="62" data-retina src="~/img/gallery/sm/gallery_12.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>