<header>
    <div class="container b-header__box b-relative">
        <a href="/" class="b-left b-logo "><img class="color-theme" data-retina src="~/img/logo-header-default.png" alt="Logo" /></a>
        <div class="b-header-r b-right b-header-r--icon">
            <div class="b-header-ico-group f-header-ico-group b-right">
                <span class="b-search-box">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Enter your keywords" />
                </span>
                <span class="b-header-ico b-header-ico-cart-parent">
                    <a href="#" class="b-fa-shopping-cart"><i class="fa fa-shopping-cart"></i></a>
                    <div class="b-option-cart__items">
                        <div class="b-option-cart__items__title f-option-cart__items__title f-default-l">Recently added item(s)</div>
                        <ul>
                            <li>
                                <div class="b-option-cart__items__img">
                                    <div class="view view-sixth">
                                        <img data-retina="" src="~/img/shop/cart_mini_pic.jpg" alt="">
                                        <div class="b-item-hover-action f-center mask">
                                            <div class="b-item-hover-action__inner">
                                                <div class="b-item-hover-action__inner-btn_group">
                                                    <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-option-cart__items__descr">
                                    <strong class="b-option-cart__descr__title f-option-cart__descr__title"><a href="#">Product Example</a></strong>
                                    <span class="b-option-cart__descr__cost f-option-cart__descr__cost">1 x $239</span>
                                </div>
                                <i class="fa fa-times b-icon--fa"></i>
                            </li>
                            <li>
                                <div class="b-option-cart__items__img">
                                    <div class="view view-sixth">
                                        <img data-retina="" src="~/img/shop/cart_mini_pic.jpg" alt="">
                                        <div class="b-item-hover-action f-center mask">
                                            <div class="b-item-hover-action__inner">
                                                <div class="b-item-hover-action__inner-btn_group">
                                                    <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="b-option-cart__items__descr">
                                    <strong class="b-option-cart__descr__title f-option-cart__descr__title"><a href="#">Product Example</a></strong>
                                    <span class="b-option-cart__descr__cost f-option-cart__descr__cost">1 x $239</span>
                                </div>
                                <i class="fa fa-times b-icon--fa"></i>
                            </li>
                        </ul>
                        <div class="b-option-cart__btn">
                            <button class="button-xs button-gray-light">Cancel</button>
                            <button class="button-xs">Check out  </button>
                        </div>
                    </div>
                </span>
            </div>
            <div class="b-top-nav-show-slide f-top-nav-show-slide b-right j-top-nav-show-slide"><i class="fa fa-align-justify"></i></div>
            <nav class="b-top-nav f-top-nav b-right j-top-nav">
                <ul class="b-top-nav__1level_wrap">
                    <li class="b-top-nav__1level f-top-nav__1level is-active-top-nav__1level f-primary-b">
                        <a href="homepage-1-index.html"><i class="fa fa-home b-menu-1level-ico"></i>Home <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title is-active-top-nav__2level-title">Homepage</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1-index.html"><i class="fa fa-angle-right"></i>Home v1: Landing Page</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary is-active-top-nav__2level"><a href="homepage-1_index_product_launch.html"><i class="fa fa-angle-right"></i>Home v2: Product Launch</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_classic_v1.html"><i class="fa fa-angle-right"></i>Home v3: Classic v1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_classic_v2.html"><i class="fa fa-angle-right"></i>Home v4: Classic v2</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_blog.html"><i class="fa fa-angle-right"></i>Home v5: Blog Style</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_portfolio.html"><i class="fa fa-angle-right"></i>Home v6: Portfolio Style</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_one_page.html"><i class="fa fa-angle-right"></i>Home v7: One Page Parallax</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_shop.html"><i class="fa fa-angle-right"></i>Home v8: Frontpage Shop</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_education.html"><i class="fa fa-angle-right"></i>Home v9: Frontpage Education</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_travel.html"><i class="fa fa-angle-right"></i>Home v10: Frontpage Travel</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="homepage-1_index_real_estate.html"><i class="fa fa-angle-right"></i>Home v11: Frontpage Real Estate</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="page_header_1.html"><i class="fa fa-folder-open b-menu-1level-ico"></i>Headers<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Headers</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_1.html"><i class="fa fa-angle-right"></i>Header 1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_2.html"><i class="fa fa-angle-right"></i>Header 2</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_3.html"><i class="fa fa-angle-right"></i>Header 3</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_4.html"><i class="fa fa-angle-right"></i>Header 4</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_5.html"><i class="fa fa-angle-right"></i>Header 5</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_6.html"><i class="fa fa-angle-right"></i>Header 6</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_7.html"><i class="fa fa-angle-right"></i>Header 7</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_8.html"><i class="fa fa-angle-right"></i>Header 8</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_9.html"><i class="fa fa-angle-right"></i>Header 9</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_header_10.html"><i class="fa fa-angle-right"></i>Header 10</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="portfolio_our_portfolio_1_colums.html"><i class="fa fa-picture-o b-menu-1level-ico"></i>Portfolio <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Portfolio</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="portfolio_our_portfolio_mansonry_layout.html"><i class="fa fa-angle-right"></i>Masonry  Portfolio</a></li>
                                <li data-box-id="0" class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>One Column</a>
                                    <ul id="0" class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_1_colums.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_1_colums_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                                    </ul>
                                </li>
                                <li data-box-id="1" class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>Two Columns</a>
                                    <ul id="1" class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_2_colums.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_2_colums_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>Three Columns</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_3_colums.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_3_colums_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_3_colums_v2_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_3_colums_v2_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>Four Columns</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_4_colums.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="portfolio_our_portfolio_4_colums_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="portfolio_our_portfolio_detail.html"><i class="fa fa-angle-right"></i>Single Portfolio</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="our_blog_1_columns.html"><i class="fa fa-code b-menu-1level-ico"></i>Blog <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Blog</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>Blog Listing</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>One Column</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns.html"><i class="fa fa-angle-right"></i>Default version</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar v1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_left_slidebar_v2.html"><i class="fa fa-angle-right"></i>Left Sidebar v2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_left_slidebar_v3.html"><i class="fa fa-angle-right"></i>Left Sidebar v3</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar v1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_right_slidebar_v2.html"><i class="fa fa-angle-right"></i>Right Sidebar v2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="our_blog_1_columns_right_slidebar_v3.html"><i class="fa fa-angle-right"></i>Right Sidebar v3</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>Two Columns</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_2_colums.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_2_colums_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_2_colums_v3.html"><i class="fa fa-angle-right"></i>Version3</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>Three Columns</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums.html"><i class="fa fa-angle-right"></i>Masonry</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar v1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums_left_slidebar_v2.html"><i class="fa fa-angle-right"></i>Left Sidebar v2</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar v1</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_listing_3_colums_right_slidebar_v2.html"><i class="fa fa-angle-right"></i>Right Sidebar v2</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="blog_listing_4_colums.html"><i class="fa fa-angle-right"></i>Four Columns</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>Blog detail</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_detail_audio_post.html"><i class="fa fa-angle-right"></i>Audio Post</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_detail_video_post.html"><i class="fa fa-angle-right"></i>Video Post</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_detail_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_detail_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary b-top-nav__with-multi-lvl">
                                    <a onclick="return false" href=""><i class="fa fa-angle-right"></i>Blog Timeline</a>
                                    <ul class="b-top-nav__multi-lvl-box">
                                        <li class="b-top-nav__multi-lvl"><a href="blog_timeline_full_width.html"><i class="fa fa-angle-right"></i>Full width</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_timeline_left_slidebar.html"><i class="fa fa-angle-right"></i>Left Sidebar</a></li>
                                        <li class="b-top-nav__multi-lvl"><a href="blog_timeline_right_slidebar.html"><i class="fa fa-angle-right"></i>Right Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
                        <a href="page_search_result.html"><i class="fa fa-cloud-download b-menu-1level-ico"></i>Pages<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Our Gallery</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="our_gallery_2_colums.html"><i class="fa fa-angle-right"></i>2 Columns</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="our_gallery_3_colums.html"><i class="fa fa-angle-right"></i>3 Columns</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="our_gallery_4_colums.html"><i class="fa fa-angle-right"></i>4 Columns</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Services</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="our_services_version_1.html"><i class="fa fa-angle-right"></i>Version 1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="our_services_version_2.html"><i class="fa fa-angle-right"></i>Version 2</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="our_services_version_3.html"><i class="fa fa-angle-right"></i>Version 3</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">About us</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="about_us_pricing.html"><i class="fa fa-angle-right"></i>Pricing version</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="about_us_version_1.html"><i class="fa fa-angle-right"></i>Version 1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="about_us_version_2.html"><i class="fa fa-angle-right"></i>Version 2</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="about_us_version_3.html"><i class="fa fa-angle-right"></i>Version 3</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="about_us_faqs_page.html"><i class="fa fa-angle-right"></i>FAQs</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="about_us_meet_our_team.html"><i class="fa fa-angle-right"></i>Meet our team</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="about_us_meet_our_team_detail.html"><i class="fa fa-angle-right"></i>Meet our team detail</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Extra pages</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="extra_pages_coming_soon.html"><i class="fa fa-angle-right"></i>Coming soon v1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="extra_pages_coming_soon_v2.html"><i class="fa fa-angle-right"></i>Coming soon v2</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_error_404.html"><i class="fa fa-angle-right"></i>404 page</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_loading_v1.html"><i class="fa fa-angle-right"></i>Loading page v1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="extra_pages_loading_v2.html"><i class="fa fa-angle-right"></i>Loading page v2</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Extra pages 2</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_forgot_username_password.html"><i class="fa fa-angle-right"></i>Forgot Password</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_log_in_page.html"><i class="fa fa-angle-right"></i>Log in v1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_log_in_page_v2.html"><i class="fa fa-angle-right"></i>Log in v2</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_registration_page.html"><i class="fa fa-angle-right"></i>Registration Page</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="page_search_result.html"><i class="fa fa-angle-right"></i>Search result page</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
                        <a href="shortcode_typography.html"><i class="fa fa-inbox b-menu-1level-ico"></i>Shortcodes <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_tabs_accordions.html#accordions"><i class="fa fa-angle-right"></i>Accordions</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_web_elements.html"><i class="fa fa-angle-right"></i>Alert Messages</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_web_elements.html#blockquotes"><i class="fa fa-angle-right"></i>Block Quotes</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_web_elements.html#buttons"><i class="fa fa-angle-right"></i>Buttons</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_typography.html#columns"><i class="fa fa-angle-right"></i>Columns</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_drop_box.html"><i class="fa fa-angle-right"></i>Dropboxes</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_web_elements_2.html#formelements"><i class="fa fa-angle-right"></i>Form Elements</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_pricing_tables.html"><i class="fa fa-angle-right"></i>Pricing table</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_skills_bars.html"><i class="fa fa-angle-right"></i>Progressbar & Skillbars</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_slideshow_videos.html"><i class="fa fa-angle-right"></i>Slider show & Sliders</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_tabs_accordions.html"><i class="fa fa-angle-right"></i>Tabs</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_web_elements.html#tables"><i class="fa fa-angle-right"></i>Tables</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_web_elements_2.html"><i class="fa fa-angle-right"></i>Tagline Boxes</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_web_elements.html#testimonials"><i class="fa fa-angle-right"></i>Testimonials</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_typography.html"><i class="fa fa-angle-right"></i>Typography</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_slideshow_videos.html#videos"><i class="fa fa-angle-right"></i>Videos</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shortcode_widgets.html"><i class="fa fa-angle-right"></i>Widgets</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="shop_listing_col.html"><i class="fa fa-list b-menu-1level-ico"></i>Shop <span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Shopping</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shop_listing_col.html"><i class="fa fa-angle-right"></i>Shop List Column</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shop_listing_row.html"><i class="fa fa-angle-right"></i>Shop List Row</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shop_listing_col_full_width.html"><i class="fa fa-angle-right"></i>Shop List Full width v1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shop_listing_col_full_width_v2.html"><i class="fa fa-angle-right"></i>Shop List Full width v2</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shop_detail.html"><i class="fa fa-angle-right"></i>Single Product</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shop_cart.html"><i class="fa fa-angle-right"></i>Shopping cart</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="shop_check_out.html"><i class="fa fa-angle-right"></i>Check out page</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="contact_us.html"><i class="fa fa-folder-open b-menu-1level-ico"></i>Contact us<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Contact us</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="contact_us.html"><i class="fa fa-angle-right"></i>Version1</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="contact_us_v2.html"><i class="fa fa-angle-right"></i>Version2</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big">
                        <a href="education_listing.html"><i class="fa fa-folder-open b-menu-1level-ico"></i>Packages<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Education</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="education_listing.html"><i class="fa fa-angle-right"></i>Education Listing</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="education_detail.html"><i class="fa fa-angle-right"></i>Education Detail</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Travel1</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_hotels_search.html"><i class="fa fa-angle-right"></i>Hotel Search</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_hotels_listing_left_slidebar.html"><i class="fa fa-angle-right"></i>Hotel Listing L-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_hotels_listing_right_slidebar.html"><i class="fa fa-angle-right"></i>Hotel Listing R-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_hotels_details_left_slidebar.html"><i class="fa fa-angle-right"></i>Hotel Detail L-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_hotels_details_right_slidebar.html"><i class="fa fa-angle-right"></i>Hotel Detail R-sidebar</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Travel2</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_tour_listing.html"><i class="fa fa-angle-right"></i>Tour Listing</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_tours_listing_left_slidebar.html"><i class="fa fa-angle-right"></i>Tour Listing L-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_tours_listing_right_slidebar.html"><i class="fa fa-angle-right"></i>Tour Listing R-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_tours_details_left_slidebar.html"><i class="fa fa-angle-right"></i>Tour Detail L-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="travel_tours_details_right_slidebar.html"><i class="fa fa-angle-right"></i>Tour Detail R-sidebar</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Real Estate1</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_search_properties.html"><i class="fa fa-angle-right"></i>Properties Search</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_agents_left_sidebar.html"><i class="fa fa-angle-right"></i>Agent List L-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_agents_right_sidebar.html"><i class="fa fa-angle-right"></i>Agent List R-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_agents_listing_property.html"><i class="fa fa-angle-right"></i>Agents Listing Property</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_agents_listing_property.html"><i class="fa fa-angle-right"></i>Agent Detail</a></li>
                            </ul>
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">Real Estate2</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_home_listing_grid.html"><i class="fa fa-angle-right"></i>Home Listing Grid</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_home_listing_left_sidebar.html"><i class="fa fa-angle-right"></i>Home Listing L-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_home_listing_right_sidebar.html"><i class="fa fa-angle-right"></i>Home Listing R-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_home_detail_left_sidebar.html"><i class="fa fa-angle-right"></i>Home Detail L-sidebar</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="real_estate_home_detail_right_sidebar.html"><i class="fa fa-angle-right"></i>Home Detail R-sidebar</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</header>